<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>r</servlet-name>
        <servlet-class>a.r</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>n</servlet-name>
        <servlet-class>a.n</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orgstp</servlet-name>
        <servlet-class>a.orgstp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>r</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>n</servlet-name>
        <url-pattern>/n</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orgstp</servlet-name>
        <url-pattern>/orgstp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            720
        </session-timeout>
    </session-config>
</web-app>
